.sponsors {
  padding-top: $spacer * 10;
  width: 80%;
  margin: 0 auto;

  &__text {
    font-size: 30px;
    padding-bottom: $spacer * 2;
  }

  &__item {
    & img {
      height: 100%;
    }
  }
}

@media screen and (max-width: 1400px) {
  .sponsors {
    height: 650px;
    &__images {
      height: 200px !important;
    }

    &__item {
      height: 90px;
      padding: 20px;
    }
  }
}
